body {
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding-top: 10%;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a + a {
  margin-left: 20px;
}

.name {
  font-size: calc(24px + 5vw);
  font-weight: bold;
}

.title {
  font-size: calc(10px + 2vw);
  font-weight: 300;
  margin-top: 1%;
}

.links {
  margin-top: 2%;
}
